 <div class="user-details">
  <h1> About Rafael </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Skills</h2>
      <i class="devicon-c-plain-wordmark colored"></i>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <p>I have been programming since high school. Along the way, I've learned
         C, Python, and Java. I also have skills in Git, GNU/Linux, and MySQL. 
         Currently, I'm learning Go. In the future, I would also like to learn
         C# and Nim.
      </p>
    </div>
</div>
