@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    background-color: #eeeeee;
}

body {
    font-family: 'PT Sans',sans-serif;
    margin: 0;
}


.main-sect {
    max-width: 90%;
    padding: 0% 10% 10% 10%;
    text-align: center;
}

#gp-btns {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}

button {
    display: inline;
}

.joystick {
    position: relative;
    height: 200px;
    width: 200px;
    border: 10px solid orange;
    display: inline-block;
}

.x-axis {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 1px;
    background: black;
    opacity: 0.3;
}

.y-axis {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background: black;
    opacity: 0.3;
}

.joystick-outline {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    border: 1px solid black;
    opacity: 0.3;
}

.joystick-pos {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 1px solid black;
    background: black;
}
