.site-title {
    font-size: 600px;
    line-height: 1;
    color: #FFF;
}

/* @media only screen and (max-width: 1570px){
    .site-title {
        margin: 0;
        white-space: nowrap;
        font-size: 80px;
    }

    .site-description {
        font-size: 30px;
    }
} */

.site-description {
    font-size: 20px;
    display: block;
    line-height: 1;
    color: #FFF;
    margin-top: 10px;
}

.header {
    z-index: 1;
    text-align: center;
    color:#FFF;
    position: absolute;
    top: 50%;
    left: 20%;
    margin: 0 auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
