@font-face {
    font-family: "unifont";
    src: url("../fonts/unifont.woff2");
}

html {
    background-color: #eeeeee;
}

.post-content {
    margin: auto;
    line-height: 1.6;
    max-width: 800px;
    padding-left: 5%;
    padding-right: 5%;
}

pre {
    background-color: #2e3440;
    padding: 5px;
}

code {
    font-family: "unifont", monospace, monospace;
    background-color: #2e3440;
    padding: 2px;
    color: #d8dee9;
}

a {
    color: #2e3440;
    text-decoration: underline dotted;
}

.post-title {
    margin: 25px 0 5px;
    line-height: 1;
}

.post-date {
    color: gray;
    margin-bottom: 30px;
}

hr {
    border: 0.5px solid gainsboro;
}

img {
   max-width: 100%;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
