

body {
    background-color: rgba(0, 0, 0, 0.2);
}

.paper {
    width: 875px;
    height: min(1110px, auto);
    position: relative;
    margin: 20px auto;
    padding-bottom: 40px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px #888;
}

.top-blue-bar {
    width: 100%;
    height: 15px;
    background-color: #2C537E;
}

.bottom-blue-bar {
    width: 100%;
    height: 15px;
    background-color: #2C537E;
    position: absolute;
    bottom: 0;
}

.top-gray-box {
    width: 100%;
    height: 130px;
    background-color: #F0F0EF;
}

.name {
    font-size: 3em;
    padding-left: 50px;
    padding-top: 30px;
    margin: 0;
    float: left;
}

.info {
    text-align: right;
    padding-top: 30px;
    padding-right: 50px;
}

.info p {
    margin: 0;
}

.info a {
    text-decoration: none;
    color: #2C537E;
}

.cv-content {
    padding-left: 50px;
    padding-right: 50px;
}

.cv-content hr {
    margin-bottom: 0;
}

.cv-content p, .cv-content h2, .cv-content ul {
    margin: 0;
}

.cv-content h2 {
    padding-top: 10px;
}

.cv-content ul {
    padding-bottom: 7px;
    font-size: 17px;
}

.cv-content p {
    font-size: 17px;
}

.job-info-desktop {
    display: block;
}

.job-info-mobile {
    display: none;
}

.more-projects {
    padding-bottom: 7px;
}

.projects p {
    padding-top: 3px;
}

.projects a{
    border-bottom: 1px dotted !important;
    text-decoration: none !important;
    color: #000 !important;
}

.projects a:hover {
    color: #2C537E;
    background-color: aliceblue;
}

.projects a:visited {
    color: #000;
}

.l-align {
    float: left;
}

.r-align {
    float: right;
    text-align: right;
}

input[type='checkbox'] {
    display: none;
}

.toggle-label {
    font-variant: small-caps;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    position: relative;
}

.collapsible-content {
    visibility: hidden;
    overflow: hidden;
    display: none;
}

#mwe-collapsible-toggle:checked + #mwe-toggle-label:after {
    content: "Less Work Experience ▲";
}

#mwe-collapsible-toggle:checked + #mwe-toggle-label + .collapsible-content,
#mp-collapsible-toggle:checked + #mp-toggle-label + .collapsible-content {
    visibility: visible;
    display: block;
}

.collapsible-toggle:checked + .toggle-label:after {
    position: absolute;
    inset: 0; /* TODO: When usage of this becomes more common, remove the
    top, left, right, bottom lines */
    top: 0; left: 0; right: 0; bottom: 0;
    background: white;
}

.more-projects {
    padding-top: 7px;
}

#mp-collapsible-toggle:checked + #mp-toggle-label:after {
    content: "Less Projects ▲";
}

@media only screen and (max-width: 875px) {
    .paper {
        width: 98%;
        height: auto;
    }

    .name {
        width: 100%;
        font-size: min(10vw, 3em);
        padding: 10px 0 0;

        text-align: center;   
    }

    .info {
        width: 100%;
        margin: 0;
        padding-top: 0;
        padding-right: 0;
        text-align: center;
    }

    .top-gray-box {
        height: auto;
        padding-bottom: 10px;
    }

    .cv-content {
        padding: 0;
        width: 95%;
        margin: 0 auto;
    }

    .job-info-desktop {
        display: none;
    }

    .job-info-mobile {
        display: block;
        padding-bottom: 5px;    
    }
}
