

body {
    background-color: rgba(0, 0, 0, 0.2);
}

.paper {
    width: 875px;
    height: min(1110px, auto);
    position: relative;
    margin: 20px auto;
    padding-bottom: 40px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px #888;
}

.top-blue-bar {
    width: 100%;
    height: 15px;
    background-color: #2C537E;
}

.bottom-blue-bar {
    width: 100%;
    height: 15px;
    background-color: #2C537E;
    position: absolute;
    bottom: 0;
}

.top-gray-box {
    width: 100%;
    height: 130px;
    background-color: #F0F0EF;
}

.name {
    font-size: 3em;
    padding-left: 50px;
    padding-top: 30px;
    margin: 0;
    float: left;
}

.info {
    text-align: right;
    padding-top: 30px;
    padding-right: 50px;
}

.info p {
    margin: 0;
}

.info a {
    text-decoration: none;
    color: #2C537E;
}

.cv-content {
    padding-left: 50px;
    padding-right: 50px;
}

.cv-content hr {
    margin-bottom: 0;
}

.cv-content p, .cv-content h2, .cv-content ul {
    margin: 0;
}

.cv-content h2 {
    padding-top: 10px;
}

.cv-content ul {
    padding-bottom: 7px;
    font-size: 17px;
}

.cv-content p {
    font-size: 17px;
}

.job-info-desktop {
    display: block;
}

.job-info-mobile {
    display: none;
}

.projects p {
    padding-top: 3px;
}

.projects a {
    border-bottom: 1px dotted;
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.projects a:hover {
    color: #2C537E;
    background-color: aliceblue;
}

.projects a:visited {
    color: #000;
}

.l-align {
    float: left;
}

.r-align {
    float: right;
    text-align: right;
}

.collapsible-content {
    visibility: hidden;
    opacity: 0;
    height: 0;
    display: none;
    transition: height .25s ease-in-out;
}

.collapsible-toggle:checked + .collapsible-content {
    visibility: visible;
    opacity: 1;
    display: block;
    height: auto;
    transition: height .25s ease-in-out;
}

/*https://www.digitalocean.com/community/tutorials/css-collapsible*/


@media only screen and (max-width: 875px) {
    .paper {
        width: 98%;
        height: auto;
    }

    .name {
        width: 100%;
        font-size: min(10vw, 3em);
        padding: 10px 0 0;

        text-align: center;   
    }

    .info {
        width: 100%;
        margin: 0;
        padding-top: 0;
        padding-right: 0;
        text-align: center;
    }

    .top-gray-box {
        height: auto;
        padding-bottom: 10px;
    }

    .cv-content {
        padding: 0;
        width: 95%;
        margin: 0 auto;
    }

    .job-info-desktop {
        display: none;
    }

    .job-info-mobile {
        display: block;
        padding-bottom: 5px;    
    }
}
