<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="data:image/x-icon;base64,AAABAAEAEBAAAAEACABoBQAAFgAAACgAAAAQAA
    AAIAAAAAEACAAAAAAAAAEAAAAAAAAAAAAAAAEAAAAAAACElqQAlr7/ALnM+wCVjI8AjZCbAH59h
    wDO0dQAbWpzANbx/QDk5u4A+/r8ADEwNACoqrIAbW18AIeAhwBsb4IApavHAK3N5ACGhpAA2/39
    AJqcpACHhpAAiYaQAJG39ACVnLYAnJ2nANbf4wCenacAi4qTAI+lyAA7SJYAi5eWAN/h6QCWjZM
    A4eLsAKemsADQz9gAlJOcAJSVmQB7iYgAlZefAJaXnwAgHiQAW15jAISFjgDd+v4AS0tPAJ2ZpQ
    CcnKUAioaRAOH9/gD07+8AYmRsANTp5wCvvb8AeneAAPnv7wCOjpcA4ODnAI+SmgC5uMIAgKz5A
    NPr/wDj5e0Ai5OvAObk6gDl5e0A5ejtALfJyAD+/PsAr663AJyYowCrtboAlqSjAI+evgCbnKYA
    j4OJAJycpgC4qrQAgaTZAHh0gQDIyM4AoKCpAJ2pqQDe4OgA2enoAI+OmACNmJsAs8XPAObl7gD
    9/PwAkZ+eAP78/ACWl6EA5+nxAMDAyQCGiJAAiYWQAJybpACTs/0AkJ3FAHN5fwChnKcAoJ+nAD
    EYOADLzdUAkJCWABoYHgCBmLcA4uTsAL27xADk5+wAqKmzAJSWnwCOm6UA/vv6AP7//QBymPYA2
    vb+AJeaogAjIyQAmp2iAOH2/gB2cn0AmqGlAIaf1QB8mP8AxsvQAPH0+ACz1PQA+vLyAHp9gwDU
    8vwAHhwiAOXo8ABcWF4A5ujwAB8NPQCurbcAYjmRAN74/ADd+f8A3/n/AJ+YpgArGi4AmJ+yAG5
    3lgCgn6kAenaBAHt2gQD39PAAe3uHAH98gQDh4+sAkpGbAJaVngCUl6QAlpWnAHFteQDp6PEAl5
    mhAHRteQDD4P4Al5qtAJuapACEkJAAsLG7AIyIkwBQTlQAkZ7LAObZ1wCio60A2OvpAJmJjQCPm
    ZkAkZScAM/Q2ADe7+wAbWt0AIyVsQCqrK0A5efvAKmrswD++/0A//v9AJqZogDd+vsA3Pv+AI60
    +wCcq+kAJCMnAJ2eqAB3dH0AKxgzAPLu8gCfnqgALBo5AIqRlAD28vUAi5SUAKGmrgChorQA1+/
    tAH59hgCgrLcA+vr7AOTm7QB4gp4AhH6JADcZUQCVmKAA//v+AJaYoAD+/v4A//7+AHBveACVm6
    kAmpmjAI+v/wCquLcAcXR+AN77/wB/bG8Ai4eSAJ+bqQDy7vMA7vD5AGRhagB3dYEAAAAAAAAAA
    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAApX+mFdMzxmPazN6
    6ALFTBVUMit+yrK1OPc/IA1fKW3s1oHAVoUjHWHV+yZQfGq4URHcjFp7cjLvdAaO/fNtlNDY7I2
    FQhI0tCKK8G5VJcSsn0qsxkj4yjnqJFzcvD7RMxV2T5LOLdhETxNFypGQhaoMSw9kYwWxPHpBo4
    DlHl0LXGbmg2AKRSr0dgQ0gmweGDimmbY+pQZydVn2aCVIFeFzQ1D9NBCI6EG5AMLU84wtFJV+2
    bZ9trxxvJbAJYr6FuCaoZz9LaQlmCasGQyguy7cKgGttzlQJtVmItc61KrXV1XTNwM4JYJlGXgk
    sUXOH1dXV1lrheSTip5jCloI4qgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=" rel="icon" type="image/x-icon"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Portfolio | Rafael Wiska-Ilnicki</title>
    <meta name="description" content="Rafael Wiska-Ilnicki's portfolio. Third 
    Year Software Engineering Student at the University of Guelph.">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" |
      prepend: site.baseurl }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css">
    <script src="https://kit.fontawesome.com/c01dab73c8.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div id="particles-js">
      <div class="header">
        <h1>
          <span class="name">Rafael&nbsp;Wiska&#8209;Ilnicki</span>
          <span class="title">Third-Year Software Engineering Student</span>
        </h1>

        <div class="header-icons">
          <a href="mailto:rafwiskailnicki@gmail.com">
            <i class="icon fa fa-envelope"></i>
          </a>
          <a href="https://github.com/rafaelwi" target="_blank">
            <i class="icon fa fa-github-alt"></i>
          </a>
        </div>

        <div class="header-links">
          <a href="#about" data-scroll>About Me</a>
          <a href="#projects" data-scroll>Projects</a>
          <a href="/resume">Resume</a>
          <a href="/blog">Blog</a>
        </div>
      </div>

      <a class="down" href="#about" data-scroll>
        <i class="icon fa fa-chevron-down"></i>
      </a>
    </div>

    <div class="contents">
      <div class="about-me">
        <section id="about"></section>
        <h1> About Me </h1>
        <p>Hi, I'm Rafael, a Third-Year Software Engineering Student
          with a Business Minor at the University of Guelph. I live in the 
          Kitchener-Waterloo area. I have been interested in technology and 
          programming for a long time. In my free time, I like to work on my 
          personal projects (which you can find below), as well as reading and 
          biking.
          <br><br>I hope you enjoy my website and portfolio!</p>
      </div>

      <div class="skills">
        <h1>My Skills</h1>
        <div class="tech-skills">
          <i class="devicon-c-plain-wordmark colored"></i>
          <i class="devicon-python-plain colored"></i>
          <i class="devicon-java-plain colored"></i>
          <i class="devicon-go-line colored"></i>
          <i class="devicon-nodejs-plain-wordmark colored"></i>
          <i class="devicon-git-plain colored"></i>
          <i class="devicon-trello-plain colored"></i>
          <i class="devicon-linux-plain colored"></i>
        </div>
        <p>I have been programming since high school. Along the way, I've
          learned C, Python, and Java, Go, and Node.js. I also have skills 
          in Git, GNU/Linux, and MySQL. Currently, I'm learning C#. In the 
          future, I'd like to learn C++.
        </p>
      </div>

      <div class="projects">
        <section id="projects"></section>
        <h1>My Projects</h1>
        <p class="projects-preface">
          A few things I've been working on in my free time.
          Most of my projects can be found on my 
          <a class="gh-link" href="https://github.com/rafaelwi" target="_blank"> Github.</a> 
          These are my favourites.
        </p>

        <a class="project-link" href="/projects">See all projects</a>
        
        <div class="card-row">

          <div class="card" id="left-card">
            <img alt="Stuff Discord Says Bot Image" src="assets/img/sds.jpg">
            <div class="card-text">
              <h4>SDS (Stuff Discord Says)</h4>
              <p>Discord bot that parrots users' messages at random, which create
                hilarious interactions. Built using Golang, currently hosted
                on a Raspberry Pi with over 100 users.
              </p>
              <div class="project-button">
                <a class="project-link" href="https://github.com/rafaelwi/sds" 
                target="_blank">Github Repo</a>
              </div>
            </div>
          </div>
  
          <div class="card" id="right-card">
            <img alt="Gunkstribute" src="assets/img/gunkstribute-2.png">
            <div class="card-text">
              <h4>Gunkstribute</h4>
              <p>Distributed program that uses TensorFlow and AI to categorize and
                rename images. Built using Node.js for the <a href="https://archive.is/qVTHL" target="_blank">Distributed 
                Summer 2020 Hackaton</a>. <a href="https://devpost.com/software/gunkstribute-object-classification-using-dcp" target="_blank">Won first place.</a>
              </p>
              <div class="project-button">
                <a class="project-link" href="https://github.com/wiwichips/gcb"
                target="_blank">Github Repo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="{{ "/assets/js/particles.min.js" | prepend: site.baseurl }}">
    </script>
    <script src="{{ "/assets/js/sweet-scroll.min.js" |
    prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
