<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="data:image/x-icon;base64,AAABAAEAEBAAAAEACABoBQAAFgAAACgAAAAQAA
    AAIAAAAAEACAAAAAAAAAEAAAAAAAAAAAAAAAEAAAAAAACElqQAlr7/ALnM+wCVjI8AjZCbAH59h
    wDO0dQAbWpzANbx/QDk5u4A+/r8ADEwNACoqrIAbW18AIeAhwBsb4IApavHAK3N5ACGhpAA2/39
    AJqcpACHhpAAiYaQAJG39ACVnLYAnJ2nANbf4wCenacAi4qTAI+lyAA7SJYAi5eWAN/h6QCWjZM
    A4eLsAKemsADQz9gAlJOcAJSVmQB7iYgAlZefAJaXnwAgHiQAW15jAISFjgDd+v4AS0tPAJ2ZpQ
    CcnKUAioaRAOH9/gD07+8AYmRsANTp5wCvvb8AeneAAPnv7wCOjpcA4ODnAI+SmgC5uMIAgKz5A
    NPr/wDj5e0Ai5OvAObk6gDl5e0A5ejtALfJyAD+/PsAr663AJyYowCrtboAlqSjAI+evgCbnKYA
    j4OJAJycpgC4qrQAgaTZAHh0gQDIyM4AoKCpAJ2pqQDe4OgA2enoAI+OmACNmJsAs8XPAObl7gD
    9/PwAkZ+eAP78/ACWl6EA5+nxAMDAyQCGiJAAiYWQAJybpACTs/0AkJ3FAHN5fwChnKcAoJ+nAD
    EYOADLzdUAkJCWABoYHgCBmLcA4uTsAL27xADk5+wAqKmzAJSWnwCOm6UA/vv6AP7//QBymPYA2
    vb+AJeaogAjIyQAmp2iAOH2/gB2cn0AmqGlAIaf1QB8mP8AxsvQAPH0+ACz1PQA+vLyAHp9gwDU
    8vwAHhwiAOXo8ABcWF4A5ujwAB8NPQCurbcAYjmRAN74/ADd+f8A3/n/AJ+YpgArGi4AmJ+yAG5
    3lgCgn6kAenaBAHt2gQD39PAAe3uHAH98gQDh4+sAkpGbAJaVngCUl6QAlpWnAHFteQDp6PEAl5
    mhAHRteQDD4P4Al5qtAJuapACEkJAAsLG7AIyIkwBQTlQAkZ7LAObZ1wCio60A2OvpAJmJjQCPm
    ZkAkZScAM/Q2ADe7+wAbWt0AIyVsQCqrK0A5efvAKmrswD++/0A//v9AJqZogDd+vsA3Pv+AI60
    +wCcq+kAJCMnAJ2eqAB3dH0AKxgzAPLu8gCfnqgALBo5AIqRlAD28vUAi5SUAKGmrgChorQA1+/
    tAH59hgCgrLcA+vr7AOTm7QB4gp4AhH6JADcZUQCVmKAA//v+AJaYoAD+/v4A//7+AHBveACVm6
    kAmpmjAI+v/wCquLcAcXR+AN77/wB/bG8Ai4eSAJ+bqQDy7vMA7vD5AGRhagB3dYEAAAAAAAAAA
    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAApX+mFdMzxmPazN6
    6ALFTBVUMit+yrK1OPc/IA1fKW3s1oHAVoUjHWHV+yZQfGq4URHcjFp7cjLvdAaO/fNtlNDY7I2
    FQhI0tCKK8G5VJcSsn0qsxkj4yjnqJFzcvD7RMxV2T5LOLdhETxNFypGQhaoMSw9kYwWxPHpBo4
    DlHl0LXGbmg2AKRSr0dgQ0gmweGDimmbY+pQZydVn2aCVIFeFzQ1D9NBCI6EG5AMLU84wtFJV+2
    bZ9trxxvJbAJYr6FuCaoZz9LaQlmCasGQyguy7cKgGttzlQJtVmItc61KrXV1XTNwM4JYJlGXgk
    sUXOH1dXV1lrheSTip5jCloI4qgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=" rel="icon" type="image/x-icon"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Portfolio | Rafael Wiska-Ilnicki</title>
    <meta name="description" content="Rafael Wiska-Ilnicki's portfolio. Second 
    Year Software Engineering Student at the University of Guelph.">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" |
      prepend: site.baseurl }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css">
    <script src="https://kit.fontawesome.com/c01dab73c8.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div id="particles-js">
      <div class="header">
        <h1>
          <span class="site-title">Rafael Wiska-Ilnicki</span>
          <span class="site-description">Second-Year Software Engineering Student</span>
        </h1>

        <div class="header-icons">
          <a aria-label="Send email"
            href="mailto:rafwiskailnicki@gmail.com">
            <i class="icon fa fa-envelope"></i>
          </a>

          <a aria-label="My Github" target="_blank"
            href="https://github.com/rafaelwi">
            <i class="icon fa fa-github-alt" aria-hidden="true"></i>
          </a>
        </div>

        <div class="header-links">
          <a class="link" href="#about" data-scroll>About Me</a>
          <a class="link" href="#projects" data-scroll>Projects</a>
          <a class="link" href="/resume.pdf" target="_blank">Resume</a>
          <a class="link" href="/blog.html">Blog</a>
        </div>
      </div>
      <a class="down" href="#about" data-scroll>
        <i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
    </div> <!-- particles -->

    <section id="about">
      <div class="user-details">
        <h1> About Rafael </h1>
        <p> {{site.user_description}} </p>
      </div>

      <div class="user">
        <div class="tech">
          <h2>Skills</h2>
          <i class="devicon-c-plain-wordmark colored"></i>
          <i class="devicon-python-plain colored"></i>
          <i class="devicon-java-plain colored"></i>
          <i class="devicon-go-line colored"></i>
          <i class="devicon-git-plain colored"></i>
          <i class="devicon-trello-plain colored"></i>
          <i class="devicon-linux-plain colored"></i>
          <p>I have been programming since high school. Along the way, I've
             learned C, Python, and Java. I also have skills in Git, GNU/Linux,
             and MySQL. Currently, I'm learning Go. In the future, I would also
             like to learn C# and Nim.
          </p>
        </div>
      </div>
    </section>  <!-- about section -->

    <section id="projects">
      <div class="user-details">
        <h1> Rafael's Projects </h1>
      </div>

      <div class="project-text-wrapper">
        <p id="project-text">A few things I've been working on in my free time.
            Most of my projects can be found on my 
            <a href="https://github.com/rafaelwi" target="_blank"> Github.</a> 
            These are just a few of my favourites.
        </p>
      </div>

      <div class="project-button">
          <a class="project-link" href="/projects">See all projects</a>
        </div>

      <!-- Project cards -->
      <div class="row">
        <div class="card" id="left-card">
            <img alt="mountains" src="assets/img/sds.jpg" style="width:100%"/>
            <div class="card-text">
              <h4>SDS (Stuff Discord Says)</h4>
              <p>A Discord bot that parrots users' messages, which can create
                hilarious interactions. Built using Golang and currently hosted
                on a Raspberry Pi.
              </p>
              <div class="project-button">
                <a class="project-link" href="https://github.com/rafaelwi/sds" 
                target="_blank">Github Repo</a>
              </div>
            </div>
        </div>

        <div class="card" id="right-card">
          <img alt="Dungeon Master GUI" src="assets/img/rwidm.jpg" style="width:100%"/>
          <div class="card-text">
            <h4>Dungeon Master</h4>
            <p>The final assignment from my Object Oriented Programming class. 
              A program that allows Dungeonmasters in <i>Dungeons and 
              Dragons</i> create immersive dungeons. DMs can customize, 
              visualize, and save their dungeon. Built using Java and JavaFX.
            </p>
          </div>
        </div>
      </div> <!-- end cards -->
    </section>  <!-- projects section -->

    <!--{{ content }}  THIS PART CONTROLS SHOWING THE BLOG-->

    <script src="{{ "/assets/js/particles.min.js" | prepend: site.baseurl }}">
      </script>
    <script src="{{ "/assets/js/sweet-scroll.min.js" |
      prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
  </body>
</html>