<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="data:image/x-icon;base64,AAABAAEAEBAAAAAAAABoBQAAFgAAACgAAAAQAA
    AAIAAAAAEACAAAAAAAAAEAAAAAAAAAAAAAAAEAAAAAAACmenQAp3p0AJ1/gwCNbmwAb32ZAH9WU
    gCNseIAhltYAKfO8ACzhYMAp9D2AI5fWwAkIiYAclVZALmMhgCs1PkAr9f5AI9ubQCEWVMAhlpW
    AJWv1ACHl7oAwpqVAH9hYgB7h50ASUhPAIyevQCes9cAjp69AHZRTgC6kIoAhm10ALDX+gCbZVw
    Af1ZUAHKAkgCRk50AeH+YAK6HggCBn8oAq8vpAJyzzwCqzOwAjF5aAJt3dwB8aXIAt4eCAG9TVQ
    B0UU8AdVFPAKrT+ACBcW8AdXSKAK7X+wC4kY4Aenl+AKN/fQCPcGwAg3aHAJ/H8ABhUVAAmmxpA
    IKYvwCCW1sAoWlgAMCZlACVcnIArYSDAFlZaACLXFUASUdOAI1dWAB2b3MAclBNAJ91cgCbengA
    jWNhAIKIogCMaWoAo357AHpWVgCZZV4ApX9+AJBwbQCRcG0Al2lqAHRfaAChxu4Av5iSAK6BewC
    EWlkAmW1tAMCZlQCHXFYAkXh8AKyIhwCmzO4Ail1ZAHlocQDEnZgAxZ2YAJ6x1ABzT0sAdFBOAI
    6ewAB1UVEAdlFRAJGiugCPYl8AuI6HAHpTTgCt1voAfFRRAH11hgCPcG4AkXBuAK6AeQCIsecAh
    5ayAGJQTwCDXVoAs4N5AJSy2ACXs9IAw5yWAGFVXgCgc24Ac09MAI1gWgCLYV0AkGBaAG9VVQCJ
    hZsAclZYAHdUUgB5U08AhGtyAHpUUgCMq80Aj3BvAISTswCRcG8ApMXkAGFPTQB1YWcAc2dnAIu
    SsABxaW0AiFtVALODegB/gJYAwpyXAKZrYADDnJcAg3+TAKdrYACQm7AAtIWAAJC36ACDY2QAso
    eGAHNPTQCdd3IAqdDzAG9SVgCUnbYAjoKTAKzV+QCt1fkARTU3AKV5eACggX4AbWRoAK9/eACGW
    lMAhltWAMGblQBTPT0AwpuVAJd0cwCOtuYAmHRzAJl0cwBwTksAs4WBAHuHowBzT04AclBRALmI
    gQCQZF8ArNT3AHlSTgCPosYAPDo+AHZ0hgCgfXwAh4ygAKG+2gC6ko0AjW5rAI5uawCGcHoAgld
    UAL2WkAB/eIkApoKCAKPF5gB9fokAk7HPAKFuawC0h38As4aFAG9QUgCqz/IAdE9PAHVPTwCcut
    gAjmFgACQkKwCs1PgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAX43HA15lGxsbpYt
    yEXNTq0Ixf6HWPnW0niekabrXBTmziWZwu4w7bzWozpwNasrItSIdPxoPNW9vNTU1a2krVLZaE4
    QyNTXbvjVvp9jUvaIs2QvAo281b9s1YM+RL2wmS1VMFJMkEDU1NSozd7GAy0uqFxiPPCg1NTUgR
    gypRxbDOJCswdrFNW8IviM3REUeUk+DfUgZitUKe9C5BMJd0kNKty1xJQaOV3bENJqFgpWgW0kw
    n5IVKXqWOlaIZ1GV0z1urq/MyRxoYh9Qgb9AeQnRhyESeE5NpoYHlJRhmJUJuA68Wa0AzQJ+AXS
    dLpuVNlxYsGSwl5lBfGNjssZ5bQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=" rel="icon" type="image/x-icon"/>

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}
      {% endif %}</title>

    <meta name="description" content="{% if page.description %}
      {{ page.description | strip_html | strip_newlines | truncate: 160 }}
      {% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{ "/assets/css/main.css" |
      prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/mystyle.css" |
    prepend: site.baseurl }}">
  </head>

  <body>
    <div id="particles-js">
      <div class="header">
        <h1>
          <span class="site-title">{{site.username}}</span>
          <span class="site-description">{{site.user_title}}</span>
        </h1>

        <div class="header-icons">
          <a aria-label="Send email"
            href="mailto:rafwiskailnicki@gmail.com">
            <i class="icon fa fa-envelope"></i>
          </a>

          <a aria-label="My Github" target="_blank"
            href="https://github.com/rafaelwi">
            <i class="icon fa fa-github-alt" aria-hidden="true"></i>
          </a>
        </div>

        <div class="header-links">
          <a class="link" href="#about" data-scroll>About Me</a>
          <a class="link" href="#projects" data-scroll>Projects</a>
        </div>
      </div>
      <a class="down" href="#about" data-scroll>
        <i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
    </div> <!-- particles -->

    <section id="about">
      <div class="user-details">
        <h1> About Rafael </h1>
        <p> {{site.user_description}} </p>
      </div>

      <div class="user">
        <div class="tech">
          <h2>Skills</h2>
          <i class="devicon-c-plain-wordmark colored"></i>
          <i class="devicon-python-plain colored"></i>
          <i class="devicon-java-plain colored"></i>
          <i class="devicon-git-plain colored"></i>
          <i class="devicon-linux-plain colored"></i>
          <p>I have been programming since high school. Along the way, I've
             learned C, Python, and Java. I also have skills in Git, GNU/Linux,
             and MySQL. Currently, I'm learning Go. In the future, I would also
             like to learn C# and Nim.
          </p>
        </div>
      </div>
    </section>  <!-- about section -->

    <section id="projects">
      <div class="user-details">
        <h1> Rafael's Projects </h1>
      </div>

      <div class="contents">
        <div class="project-text">
          <p>A few things I've been working on in my free time. Most of my 
             projects can be found on my <a href="https://github.com/rafaelwi">
             GitHub.</a>
          </p>
        </div>

        <div class="project-button">
          <a class="project-link" href="#">Check it out</a>
        </div>
      </div>

      <!--
      <div class="user-projects">
        <div class="images-right">
          <img alt="mountains" src="{{ "/assets/img/mountains.jpg" |
            prepend: site.baseurl }}" />
        </div>

        <div class="contents">
          <h3> Project Title </h3>
          <ul>
            <li> Featured Skills</li>
          </ul>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
             eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
             enim ad minim veniam, quis nostrud exercitation ullamco laboris
             nisi ut aliquip ex ea commodo consequat.
          </p>
          <a class="project-link" href="#">Check it out</a>
        </div>
      </div>

      <div class="user-projects">
        <div class="images-left">
          <img alt="mountains" src="{{ "/assets/img/skate.jpg" |
            prepend: site.baseurl }}" />
        </div>

        <div class="contents-right">
          <h3> Project Title </h3>
          <ul>
            <li> Featured Skills</li>
          </ul>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
             eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
             enim ad minim veniam, quis nostrud exercitation ullamco laboris
             nisi ut aliquip ex ea commodo consequat.
          </p>
          <a class="project-link" href="#">Check it out</a>
        </div>
      </div>
      -->
    </section>  <!-- projects section -->

    {{ content }}

    <footer class="footer">
      <p>&copy; {{site.username}}</p>
      <p>Template built with Jekyll and <span class="love">❤</span> by
          <a href="https://github.com/nrandecker">Nathan Randecker</a>
      </p>
    </footer>

    <script src="{{ "/assets/js/particles.min.js" | prepend: site.baseurl }}">
      </script>
    <script src="{{ "/assets/js/sweet-scroll.min.js" |
      prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
