<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="data:image/x-icon;base64,AAABAAEAEBAAAAEACABoBQAAFgAAACgAAAAQAA
    AAIAAAAAEACAAAAAAAAAEAAAAAAAAAAAAAAAEAAAAAAACElqQAlr7/ALnM+wCVjI8AjZCbAH59h
    wDO0dQAbWpzANbx/QDk5u4A+/r8ADEwNACoqrIAbW18AIeAhwBsb4IApavHAK3N5ACGhpAA2/39
    AJqcpACHhpAAiYaQAJG39ACVnLYAnJ2nANbf4wCenacAi4qTAI+lyAA7SJYAi5eWAN/h6QCWjZM
    A4eLsAKemsADQz9gAlJOcAJSVmQB7iYgAlZefAJaXnwAgHiQAW15jAISFjgDd+v4AS0tPAJ2ZpQ
    CcnKUAioaRAOH9/gD07+8AYmRsANTp5wCvvb8AeneAAPnv7wCOjpcA4ODnAI+SmgC5uMIAgKz5A
    NPr/wDj5e0Ai5OvAObk6gDl5e0A5ejtALfJyAD+/PsAr663AJyYowCrtboAlqSjAI+evgCbnKYA
    j4OJAJycpgC4qrQAgaTZAHh0gQDIyM4AoKCpAJ2pqQDe4OgA2enoAI+OmACNmJsAs8XPAObl7gD
    9/PwAkZ+eAP78/ACWl6EA5+nxAMDAyQCGiJAAiYWQAJybpACTs/0AkJ3FAHN5fwChnKcAoJ+nAD
    EYOADLzdUAkJCWABoYHgCBmLcA4uTsAL27xADk5+wAqKmzAJSWnwCOm6UA/vv6AP7//QBymPYA2
    vb+AJeaogAjIyQAmp2iAOH2/gB2cn0AmqGlAIaf1QB8mP8AxsvQAPH0+ACz1PQA+vLyAHp9gwDU
    8vwAHhwiAOXo8ABcWF4A5ujwAB8NPQCurbcAYjmRAN74/ADd+f8A3/n/AJ+YpgArGi4AmJ+yAG5
    3lgCgn6kAenaBAHt2gQD39PAAe3uHAH98gQDh4+sAkpGbAJaVngCUl6QAlpWnAHFteQDp6PEAl5
    mhAHRteQDD4P4Al5qtAJuapACEkJAAsLG7AIyIkwBQTlQAkZ7LAObZ1wCio60A2OvpAJmJjQCPm
    ZkAkZScAM/Q2ADe7+wAbWt0AIyVsQCqrK0A5efvAKmrswD++/0A//v9AJqZogDd+vsA3Pv+AI60
    +wCcq+kAJCMnAJ2eqAB3dH0AKxgzAPLu8gCfnqgALBo5AIqRlAD28vUAi5SUAKGmrgChorQA1+/
    tAH59hgCgrLcA+vr7AOTm7QB4gp4AhH6JADcZUQCVmKAA//v+AJaYoAD+/v4A//7+AHBveACVm6
    kAmpmjAI+v/wCquLcAcXR+AN77/wB/bG8Ai4eSAJ+bqQDy7vMA7vD5AGRhagB3dYEAAAAAAAAAA
    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAApX+mFdMzxmPazN6
    6ALFTBVUMit+yrK1OPc/IA1fKW3s1oHAVoUjHWHV+yZQfGq4URHcjFp7cjLvdAaO/fNtlNDY7I2
    FQhI0tCKK8G5VJcSsn0qsxkj4yjnqJFzcvD7RMxV2T5LOLdhETxNFypGQhaoMSw9kYwWxPHpBo4
    DlHl0LXGbmg2AKRSr0dgQ0gmweGDimmbY+pQZydVn2aCVIFeFzQ1D9NBCI6EG5AMLU84wtFJV+2
    bZ9trxxvJbAJYr6FuCaoZz9LaQlmCasGQyguy7cKgGttzlQJtVmItc61KrXV1XTNwM4JYJlGXgk
    sUXOH1dXV1lrheSTip5jCloI4qgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=" rel="icon" type="image/x-icon"/>

    <title>Blog | Rafael Wiska-Ilnicki</title>

    <meta name="description" content="My musings.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/assets/css/header.css" |
    prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/drift.css" |
    prepend: site.baseurl }}">
  </head>
  <body>
      
    <!-- BEGIN HEADER -->
    <header class="navbar">
      <a href="/" class="logo earl">Controller Tester</a>
      <input class="menu-btn" type="checkbox" id="menu-btn"/>
      <label class="menu-icon" for="menu-btn">
        <span class="navicon"></span>
      </label>
      <ul class="menu">
        <li><a class="earl" href="/projects">Projects</a></li>
        <li><a class="earl" href="/resume">Resume</a></li>
        <li><a class="earl" href="/blog">Blog</a></li>        
      </ul>
    </header>
    <!-- END HEADER -->

    <div class="main-sect">
      <h2>Hello world</h2>
      <button id="testVibrate" onclick="dummy()" hidden>Test Vibration</button>

      <br/>

      <div id="left-joystick" class="joystick">
        <div class="x-axis"></div>
        <div class="y-axis"></div>
        <div class="joystick-outline"></div>
        <div id="left-joystick-pos" class="joystick-pos"></div>
      </div>

      <div id="right-joystick" class="joystick">
        <div class="x-axis"></div>
        <div class="y-axis"></div>
        <div class="joystick-outline"></div>
        <div id="right-joystick-pos" class="joystick-pos"></div>
      </div>

      <div id="gamepad-menu-container">
        <svg id="gp-menu" width="300" height="100">
          <rect id="gp8" x="25"  y="40" width="50" height="30" rx="15" stroke="black" stroke-width="1" fill="lightgray" />
          <rect id="gp9" x="225" y="40" width="50" height="30" rx="15" stroke="black" stroke-width="1" fill="lightgray" />
          <circle id="gp16" cx="150" cy="50" r="50" stroke="black" stroke-width="1" fill="lightgray" />
        </svg>
      </div>

      <div id="shoulder-container">
        <svg id="shoulder" width="600" height="300">
          <rect id="gp4" x="0"   y="225" width="100" height="50" rx="15" stroke="black" stroke-width="1" fill="lightgray" />
          <rect id="gp5" x="500" y="225" width="100" height="50" rx="15" stroke="black" stroke-width="1" fill="lightgray" />

          <rect id="gp6" x="20"  y="50" width="60" height="150" rx="15" stroke="black" stroke-width="1" fill="black" fill-opacity="0" />
          <rect id="gp7" x="520" y="50" width="60" height="150" rx="15" stroke="black" stroke-width="1" fill="black" fill-opacity="0" />
        </svg>
      </div>

      <div id="abxy-container">
        <svg id="abxy" width="300" height="300">
          <circle id="gp0" cx="150" cy="250" r="50" stroke="black" stroke-width="1" fill="#3cdb4e" fill-opacity="0.25"/>
          <circle id="gp1" cx="250" cy="150" r="50" stroke="black" stroke-width="1" fill="#d04242" fill-opacity="0.25"//>
          <circle id="gp2" cx="50"  cy="150" r="50" stroke="black" stroke-width="1" fill="#40ccd0" fill-opacity="0.25"//>
          <circle id="gp3" cx="150" cy="50"  r="50" stroke="black" stroke-width="1" fill="#ecdb33" fill-opacity="0.25"//>
        </svg>
      </div>

      <div id="dpad-container">
        <svg id="dpad" width="300" height="300">
          <polygon id="gp13" points="150,150 200,200 200,300 100,300 100,200" stroke="black" stroke-width="1" fill="lightgray" />          
          <polygon id="gp14" points="150,150 200,200 200,300 100,300 100,200" stroke="black" stroke-width="1" fill="lightgray" transform="rotate(90, 150, 150)" />
          <polygon id="gp12" points="150,150 200,200 200,300 100,300 100,200" stroke="black" stroke-width="1" fill="lightgray" transform="rotate(180, 150, 150)"/>
          <polygon id="gp15" points="150,150 200,200 200,300 100,300 100,200" stroke="black" stroke-width="1" fill="lightgray" transform="rotate(-90, 150, 150)"/>
        </svg>
      </div>

      <p id="gp-info">Gamepad info will show here. Press a button to begin.</p>
      <p id="gp-btns"></p>
    </div>

    <script src="{{ "/assets/js/drift.js" | prepend: site.baseurl }}"></script>
    </body>
</html>