<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="data:image/x-icon;base64,AAABAAEAEBAAAAEACABoBQAAFgAAACgAAAAQAA
    AAIAAAAAEACAAAAAAAAAEAAAAAAAAAAAAAAAEAAAAAAACElqQAlr7/ALnM+wCVjI8AjZCbAH59h
    wDO0dQAbWpzANbx/QDk5u4A+/r8ADEwNACoqrIAbW18AIeAhwBsb4IApavHAK3N5ACGhpAA2/39
    AJqcpACHhpAAiYaQAJG39ACVnLYAnJ2nANbf4wCenacAi4qTAI+lyAA7SJYAi5eWAN/h6QCWjZM
    A4eLsAKemsADQz9gAlJOcAJSVmQB7iYgAlZefAJaXnwAgHiQAW15jAISFjgDd+v4AS0tPAJ2ZpQ
    CcnKUAioaRAOH9/gD07+8AYmRsANTp5wCvvb8AeneAAPnv7wCOjpcA4ODnAI+SmgC5uMIAgKz5A
    NPr/wDj5e0Ai5OvAObk6gDl5e0A5ejtALfJyAD+/PsAr663AJyYowCrtboAlqSjAI+evgCbnKYA
    j4OJAJycpgC4qrQAgaTZAHh0gQDIyM4AoKCpAJ2pqQDe4OgA2enoAI+OmACNmJsAs8XPAObl7gD
    9/PwAkZ+eAP78/ACWl6EA5+nxAMDAyQCGiJAAiYWQAJybpACTs/0AkJ3FAHN5fwChnKcAoJ+nAD
    EYOADLzdUAkJCWABoYHgCBmLcA4uTsAL27xADk5+wAqKmzAJSWnwCOm6UA/vv6AP7//QBymPYA2
    vb+AJeaogAjIyQAmp2iAOH2/gB2cn0AmqGlAIaf1QB8mP8AxsvQAPH0+ACz1PQA+vLyAHp9gwDU
    8vwAHhwiAOXo8ABcWF4A5ujwAB8NPQCurbcAYjmRAN74/ADd+f8A3/n/AJ+YpgArGi4AmJ+yAG5
    3lgCgn6kAenaBAHt2gQD39PAAe3uHAH98gQDh4+sAkpGbAJaVngCUl6QAlpWnAHFteQDp6PEAl5
    mhAHRteQDD4P4Al5qtAJuapACEkJAAsLG7AIyIkwBQTlQAkZ7LAObZ1wCio60A2OvpAJmJjQCPm
    ZkAkZScAM/Q2ADe7+wAbWt0AIyVsQCqrK0A5efvAKmrswD++/0A//v9AJqZogDd+vsA3Pv+AI60
    +wCcq+kAJCMnAJ2eqAB3dH0AKxgzAPLu8gCfnqgALBo5AIqRlAD28vUAi5SUAKGmrgChorQA1+/
    tAH59hgCgrLcA+vr7AOTm7QB4gp4AhH6JADcZUQCVmKAA//v+AJaYoAD+/v4A//7+AHBveACVm6
    kAmpmjAI+v/wCquLcAcXR+AN77/wB/bG8Ai4eSAJ+bqQDy7vMA7vD5AGRhagB3dYEAAAAAAAAAA
    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAApX+mFdMzxmPazN6
    6ALFTBVUMit+yrK1OPc/IA1fKW3s1oHAVoUjHWHV+yZQfGq4URHcjFp7cjLvdAaO/fNtlNDY7I2
    FQhI0tCKK8G5VJcSsn0qsxkj4yjnqJFzcvD7RMxV2T5LOLdhETxNFypGQhaoMSw9kYwWxPHpBo4
    DlHl0LXGbmg2AKRSr0dgQ0gmweGDimmbY+pQZydVn2aCVIFeFzQ1D9NBCI6EG5AMLU84wtFJV+2
    bZ9trxxvJbAJYr6FuCaoZz9LaQlmCasGQyguy7cKgGttzlQJtVmItc61KrXV1XTNwM4JYJlGXgk
    sUXOH1dXV1lrheSTip5jCloI4qgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=" rel="icon" type="image/x-icon"/>

    <title>Resume | Rafael Wiska-Ilnicki</title>

    <meta name="description" content="Some of the personal projects, school
    projects, and tinkering I've done.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/assets/css/header.css" |
    prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/resume.css" |
    prepend: site.baseurl }}">
  </head>
  <body>
    <!-- BEGIN HEADER -->
    <header class="navbar">
      <a href="/" class="logo earl">~/Resume/</a>
      <input class="menu-btn" type="checkbox" id="menu-btn"/>
      <label class="menu-icon" for="menu-btn">
        <span class="navicon"></span>
      </label>
      <ul class="menu">
        <li><a class="earl" href="/projects">Projects</a></li>
        <li><a class="earl" href="/resume">Resume</a></li>
        <li><a class="earl" href="/blog">Blog</a></li>        
      </ul>
    </header>
    <!-- END HEADER -->

    <div class="paper">
      <div class="top-blue-bar"></div>
      <div class="top-gray-box">
        <h1 class="name">Rafael Wiska-Ilnicki</h1>
        <div class="info">
          <p><b>Phone: </b>(226) 792-5426</p>
          <p><b>Email: </b> rwiskail@uoguelph.ca</p>
          <p><b>Website: </b> <a href="rafaelwi.github.io" target="_blank">rafaelwi.github.io</a></p>
          <p><b>Github: </b> <a href="github.com/rafaelwi" target="_blank">github.com/rafaelwi</a>
        </div>
      </div>
      
      <div class="cv-content">
        <div class="work-experience">
          <h2>WORK EXPERIENCE</h2>
          <p><b>Educational Utilities Developer</b> | June 2020 - December 2020</p>
          <p><i>Ontario Veterinary College, University of Guelph | Guelph, ON</i></p>
          <ul>
            <li>Assisted professors in converting courses to online formats due to COVID-19</li>
            <li>Digitized lectures using HTML, Articulate, and various Adobe CC tools</li>
            <li>Managed a team of six to efficiently carry out multiple projects simultaneously</li>
          </ul>

          <p><b>Undergraduate Teaching Assistant <i>(CIS*1250 Software Design I)</i></b> | September 2019 - December 2019</p>
          <p><i>School of Computer Science, University of Guelph | Guelph, ON</i></p>
          <ul>
            <li>Collaborated with a team of four to plan, schedule, and organize labs and tests</li>
            <li>Marked and provided valuable feedback to students on tests and exams</li>
            <li>Invigilated quizzes, tests, and exams</li>
          </ul>

          <p><b>Data Scientist</b> | May 2019 - August 2019</p>
          <p><i>School of Computer Science, University of Guelph | Guelph, ON</i></p>
          <ul>
            <li>Developed a criminal offence categorization engine from scratch using Python</li>
            <li>Applied manual and automated data cleaning techniques to a database of historical records</li>
            <li>Utilized fuzzy matching and other data matching principles to sort and link historical records</li>
          </ul>
        </div>

        <hr>

        <div class="projects">
          <h2>PROJECTS</h2>
          <p><b>Stuff Discord Says: </b>Discord bot designed to highlight 
            user’s most memorable messages. Currently active on five servers. 
            Built using Go and self-hosted on Raspberry Pi.</p>
          <p><b>RNote: </b>LaTeX-like document creation system for creating 
            point-form notes built in Python.</p>
          <p><b>Image Gallery and Editor Web App: </b> Developed a full-stack 
          web app allowing users to edit and view images. Used C and Node.js to
          create a lightweight backend and HTML/CSS for frontend.</p>
          <p><b><i>Dungeons and Dragons</i> Dungeon Generator: </b> Developed a
          tool in Java to help Dungeon Masters create levels for <i>Dungeons 
            and Dragons.</i> Used JavaFX to implement a GUI for ease of use.</p>
          <p><b>Personal Website: </b> Showcases my portfolio and projects. 
          Built using HTML, CSS, JavaScript, and Jekyll.</p>
        </div>

        <hr>

        <div class="education">
          <h2>EDUCATION</h2>
          <p><b>Bachelor of Computing, Software Engineering (Co-op)</b> | <i>September 2018 - Present (Expected June 2023)</i></p>
          <p><i>University of Guelph | Guelph, ON</i></p>
          <ul>
            <li>Pursuing a minor in Business</li>
            <li>Dean's List (Fall 2018 - Present) - 4.0 GPA cumulative</li>
          </ul>

          <p><b><i>Relevant Coursework</i></b></p>
          <p>
            <i>CIS*3250 </i> Software Design III,
            <i>CIS*2520</i> Data Structures,
            <i>CIS*2430</i> Object Oriented Programming,
            <br>
            <i>CIS*3490</i> Analysis and Design of Computer Algorithms,
            <i>CIS*2170</i> User Interface Design
          </p>
        </div>

        <hr>

        <div class="tech-skills">
          <h2>TECHNICAL SKILLS</h2>
          <p><b>Tools: </b> Python, Java, C, Go, HTML/CSS, JavaScript, Perl, Bash, Microsoft Office Suite</p>
          <p><b>Collaboration: </b>GitHub, Gitlab, Slack, Trello, Microsoft Teams, Zoom</p>
          <p><b>Project Management: </b>Agile, Kanban, Waterfall, SCRUM</p>
        </div>
      </div> <!-- end content div -->

      <div class="bottom-blue-bar"></div>
    </div> <!-- end paper div -->

  </body>
</html>