<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="data:image/x-icon;base64,AAABAAEAEBAAAAEACABoBQAAFgAAACgAAAAQAA
    AAIAAAAAEACAAAAAAAAAEAAAAAAAAAAAAAAAEAAAAAAACElqQAlr7/ALnM+wCVjI8AjZCbAH59h
    wDO0dQAbWpzANbx/QDk5u4A+/r8ADEwNACoqrIAbW18AIeAhwBsb4IApavHAK3N5ACGhpAA2/39
    AJqcpACHhpAAiYaQAJG39ACVnLYAnJ2nANbf4wCenacAi4qTAI+lyAA7SJYAi5eWAN/h6QCWjZM
    A4eLsAKemsADQz9gAlJOcAJSVmQB7iYgAlZefAJaXnwAgHiQAW15jAISFjgDd+v4AS0tPAJ2ZpQ
    CcnKUAioaRAOH9/gD07+8AYmRsANTp5wCvvb8AeneAAPnv7wCOjpcA4ODnAI+SmgC5uMIAgKz5A
    NPr/wDj5e0Ai5OvAObk6gDl5e0A5ejtALfJyAD+/PsAr663AJyYowCrtboAlqSjAI+evgCbnKYA
    j4OJAJycpgC4qrQAgaTZAHh0gQDIyM4AoKCpAJ2pqQDe4OgA2enoAI+OmACNmJsAs8XPAObl7gD
    9/PwAkZ+eAP78/ACWl6EA5+nxAMDAyQCGiJAAiYWQAJybpACTs/0AkJ3FAHN5fwChnKcAoJ+nAD
    EYOADLzdUAkJCWABoYHgCBmLcA4uTsAL27xADk5+wAqKmzAJSWnwCOm6UA/vv6AP7//QBymPYA2
    vb+AJeaogAjIyQAmp2iAOH2/gB2cn0AmqGlAIaf1QB8mP8AxsvQAPH0+ACz1PQA+vLyAHp9gwDU
    8vwAHhwiAOXo8ABcWF4A5ujwAB8NPQCurbcAYjmRAN74/ADd+f8A3/n/AJ+YpgArGi4AmJ+yAG5
    3lgCgn6kAenaBAHt2gQD39PAAe3uHAH98gQDh4+sAkpGbAJaVngCUl6QAlpWnAHFteQDp6PEAl5
    mhAHRteQDD4P4Al5qtAJuapACEkJAAsLG7AIyIkwBQTlQAkZ7LAObZ1wCio60A2OvpAJmJjQCPm
    ZkAkZScAM/Q2ADe7+wAbWt0AIyVsQCqrK0A5efvAKmrswD++/0A//v9AJqZogDd+vsA3Pv+AI60
    +wCcq+kAJCMnAJ2eqAB3dH0AKxgzAPLu8gCfnqgALBo5AIqRlAD28vUAi5SUAKGmrgChorQA1+/
    tAH59hgCgrLcA+vr7AOTm7QB4gp4AhH6JADcZUQCVmKAA//v+AJaYoAD+/v4A//7+AHBveACVm6
    kAmpmjAI+v/wCquLcAcXR+AN77/wB/bG8Ai4eSAJ+bqQDy7vMA7vD5AGRhagB3dYEAAAAAAAAAA
    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAApX+mFdMzxmPazN6
    6ALFTBVUMit+yrK1OPc/IA1fKW3s1oHAVoUjHWHV+yZQfGq4URHcjFp7cjLvdAaO/fNtlNDY7I2
    FQhI0tCKK8G5VJcSsn0qsxkj4yjnqJFzcvD7RMxV2T5LOLdhETxNFypGQhaoMSw9kYwWxPHpBo4
    DlHl0LXGbmg2AKRSr0dgQ0gmweGDimmbY+pQZydVn2aCVIFeFzQ1D9NBCI6EG5AMLU84wtFJV+2
    bZ9trxxvJbAJYr6FuCaoZz9LaQlmCasGQyguy7cKgGttzlQJtVmItc61KrXV1XTNwM4JYJlGXgk
    sUXOH1dXV1lrheSTip5jCloI4qgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=" rel="icon" type="image/x-icon"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SANDBOX PAGE</title>
    <meta name="description" content="Rafael Wiska-Ilnicki's portfolio. Second 
    Year Software Engineering Student at the University of Guelph.">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" |
      prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/header.css" |
      prepend: site.baseurl }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css">
    <script src="https://kit.fontawesome.com/c01dab73c8.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- BEGIN HEADER -->
    <header class="navbar">
      <a href="/" class="logo earl">~/Sandbox/</a>
      <input class="menu-btn" type="checkbox" id="menu-btn"/>
      <label class="menu-icon" for="menu-btn">
        <span class="navicon"></span>
      </label>
      <ul class="menu">
        <li><a class="earl" href="/projects">Projects</a></li>
        <li><a class="earl" href="/resume.pdf" target="_blank">Resume</a></li>
        <li><a class="earl" href="/blog">Blog</a></li>        
      </ul>
    </header>
    <!-- END HEADER -->

    <h1>FAKE CONTENT HERE</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur, 
        amet. Esse hic iste aut a voluptatem omnis, qui corrupti quae, alias
        id assumenda architecto nobis mollitia? Accusantium cupiditate 
        aperiam aspernatur. Lorem ipsum dolor sit amet consectetur, 
        adipisicing elit. Ea fuga aperiam possimus, velit aut ad vel eveniet 
        voluptatibus quibusdam eos amet voluptatum, quia laborum cum ratione, 
        quidem modi perspiciatis deserunt.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur, 
        amet. Esse hic iste aut a voluptatem omnis, qui corrupti quae, alias
        id assumenda architecto nobis mollitia? Accusantium cupiditate 
        aperiam aspernatur. Lorem ipsum dolor sit amet consectetur, 
        adipisicing elit. Ea fuga aperiam possimus, velit aut ad vel eveniet 
        voluptatibus quibusdam eos amet voluptatum, quia laborum cum ratione, 
        quidem modi perspiciatis deserunt.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur, 
        amet. Esse hic iste aut a voluptatem omnis, qui corrupti quae, alias
        id assumenda architecto nobis mollitia? Accusantium cupiditate 
        aperiam aspernatur. Lorem ipsum dolor sit amet consectetur, 
        adipisicing elit. Ea fuga aperiam possimus, velit aut ad vel eveniet 
        voluptatibus quibusdam eos amet voluptatum, quia laborum cum ratione, 
        quidem modi perspiciatis deserunt.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur, 
        amet. Esse hic iste aut a voluptatem omnis, qui corrupti quae, alias
        id assumenda architecto nobis mollitia? Accusantium cupiditate 
        aperiam aspernatur. Lorem ipsum dolor sit amet consectetur, 
        adipisicing elit. Ea fuga aperiam possimus, velit aut ad vel eveniet 
        voluptatibus quibusdam eos amet voluptatum, quia laborum cum ratione, 
        quidem modi perspiciatis deserunt.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur, 
        amet. Esse hic iste aut a voluptatem omnis, qui corrupti quae, alias
        id assumenda architecto nobis mollitia? Accusantium cupiditate 
        aperiam aspernatur. Lorem ipsum dolor sit amet consectetur, 
        adipisicing elit. Ea fuga aperiam possimus, velit aut ad vel eveniet 
        voluptatibus quibusdam eos amet voluptatum, quia laborum cum ratione, 
        quidem modi perspiciatis deserunt.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur, 
        amet. Esse hic iste aut a voluptatem omnis, qui corrupti quae, alias
        id assumenda architecto nobis mollitia? Accusantium cupiditate 
        aperiam aspernatur. Lorem ipsum dolor sit amet consectetur, 
        adipisicing elit. Ea fuga aperiam possimus, velit aut ad vel eveniet 
        voluptatibus quibusdam eos amet voluptatum, quia laborum cum ratione, 
        quidem modi perspiciatis deserunt.</p>
    <script>
      function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
          x.className += ".responsive";
        } else {
          x.className = "topnav";
        }
      }
      </script>
  </body>
</html>